<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PromotorNegativos" parallel="tests">
  <test name="MasProteccion">
    <classes>
      <class name="com.negativos.mandatorios.TCCamposMandatoriosAfiliado"/>
      <class name="com.negativos.mandatorios.TCCamposMandatoriosContactos"/>
      <class name="com.negativos.tiposcampo.TCTiposCamposContactos"/>
      <class name="com.negativos.tiposcampo.TCTiposCamposPromotor"/>
      <class name="com.negativos.mandatorios.TCCamposMandatoriosPromotor"/>
      <class name="com.negativos.tiposcampo.TCTiposCamposAfiliado"/>
    </classes>
  </test> <!-- MasProteccion -->
</suite> <!-- PromotorNegativos -->
