<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="MultiExploradores" parallel="tests">

	<test name="FirefoxTest">
	
		<parameter name="browser" value="firefox" />
		<parameter name="version" value="41.0" />
		<parameter name="platform" value="WINDOWS" />
		
		<classes>
			<class name="com.negativos.mandatorios.TCCamposMandatoriosContactos" />
		</classes>
		
	</test> <!-- Test -->

	<test name="ChromeTest">
	
		<parameter name="browser" value="chrome" />
		<parameter name="version" value="45.0" />
		<parameter name="platform" value="WINDOWS" />
		
		<classes>
			<class name="com.negativos.mandatorios.TCCamposMandatoriosContactos" />
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
